<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/cabecalho}">

<meta charset="ISO-8859-1">
<title>Página de Tempo Docente x Tempo Turma</title>
</head>
<body>
<!-- Importa o menu padrao do sistema -->
<div th:insert="~{layout/menu}"></div>


<form name="salvar_docente" class="form-horizontal"  method="POST" th:action="@{/salvar_docente}" th:object="${docenteEntity}">
<div class="container">	
<h2> Tempo Docente x Tempo Turma</h2>

<!--Começa cadastro de docentes -->
<div class="container">
<div class="alert alert-success" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
<div class="mb-3">
<label for="setor" class="form-label">Curso</label>
<select class="form-select" aria-label="Selecione o curso" id="curso" name="curso" required>
   <option value="">Selecione o curso</option>
   <option th:each="curso : ${cursos}" th:text="${curso.nome}" th:value="${curso.idCurso}" >
</select>
</div>

<div class="mb-3">
<label for="setor" class="form-label">Turno</label>
<select class="form-select" aria-label="Selecione o turno" id="turno" name="turno" required>
   <option value="">Selecione o turno</option>
   <option th:each="turno : ${turnos}" th:text="${turno.nome}" th:value="${turno.idTurno}" >
</select>
</div>

<div class="mb-3">
    <button type="submit" class="btn btn-success form-control">Pesquisar</button>
</div>     
</div>
<!--Termina cadastro de docentes -->

<!--Começa lista de docentes -->
<br>
<h5 class="card-title">Docentes</h5>
	<table class="table table-sm table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome</th>							
								<th>Tempos</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="docente,contador : ${docentes}" >
								<td th:text="${docente.IdDocente}"></td>
								<td th:text="${docente.Nome + ' ' + docente.sobrenome}"></td>	
								<td th:text="${docente.tempo}"></td>		
							
							</tr>							
						</tbody>
						<tfoot>
					    <tr>
					     
					      <td></td>
					      <th scope="row">Total de tempos possíveis:</th>
					      <td th:text="${#aggregates.sum(docentes.![tempo])}"></td>	
					    </tr>
					</tfoot>
</table>
<!--Termina lista de docentes -->



</form>



</body>
	<!-- Importa o rodape padrao do sistema -->
	<div th:insert="~{layout/rodape}"></div>
</html>