<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/principal">
	  <img src="/img/logo.png" width="60" height="40" class="d-inline-block align-top" alt=""> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/principal">Home</a> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item" sec:authorize="hasAuthority('administrador')">
        <a class="nav-link" href="/docente">Docente</a>
      </li> 
       <li class="nav-item" sec:authorize="hasAnyAuthority('professor','coordenador_curso')">
        <a class="nav-link" href="/preferencia">Preferência de Disciplinas</a>
      </li> 
      <li class="nav-item" sec:authorize="hasAnyAuthority('professor','coordenador_curso')">
        <a class="nav-link" href="/disponibilidade">Disponibilidade</a>
      </li>
	  <li class="nav-item" sec:authorize="hasAnyAuthority('coordenador_curso')">
	     <a class="nav-link" href="/gerar_horario">Gerar Horario</a>
	   </li>


	  <!--
      <li class="nav-item">
        <a class="nav-link" href="/tipoLocal">Local</a>
      </li>  
      
      <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Planejamento
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="tempo_docente_tempo_turma">Tempo Docente x Tempo Turma</a></li>
         
          </ul>
       </li>-->

	   <li class="nav-item dropdown">
	   <form th:action="@{/sair}" method="post">	  
		   <button type="submit" class="nav-link">Sair</button>
	   </form>
	   </li>
      
    </ul>      
  </div>  
</nav>